body {
background-image: url("/images/MAIN.jpg");
background-size: cover;
text-align: center;
}

input {
background-color: transparent;
color: white;
}

.row2 {
height: 14px;
}

.floatedTable {
            float:left;
        }

.rangerName {
         justify-content: center;
}

tr {
height:60px;
}